.content{
    height: 80%;
    background-color: rgb(230, 247, 255);
    padding: 30px 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.land-heading{
    margin: 20px 0 0 ;
    text-align: center;
    padding-bottom: 20px;
    font-family: var(--font2);
}
.blog-section{
    display: flex;
    justify-content: center;
    margin: 10px 0;
    overflow: auto;
}
.intro{
    font-family: var(--font2);
    padding: 10px 5px;
}
.block{
    padding: 5px;
    margin: 5px;
   
}
.img{
    max-width: 20vw;
    border-radius: 5px;
    overflow: auto;
}
.img:hover{
    transform: scale(1.05);
    z-index: 2;
    transition: 1s;
}
.blog-title{
    font-size: 20px;
    max-width: 20vw;
    padding: 3px 0;
    font-family: var(--font5);
}

/* Footer Starts */
.footer{
    height: 10%;
    background-color: rgb(245, 255, 98);
    display: flex;
    justify-content: center;
    padding: 15px 0;
}
.footer label{
    font-size: 25px;
    padding: 8px;
    font-family: var(--font4);
    color: rgb(18, 44, 65);
}
.footer input{
    padding: 8px;
    border: 1px solid grey;
    margin: 0 5px;
    border-radius: 3px;
    font-size: 15px;

}
.btn-foot{
    border-radius: 5px;
    font-size: large;
}
.copyright{
    text-align: center;
    font-family: var(--font2);
    font-size: 15px;
    padding: 10px 0;
    background-color: black;
    color: white;
    border-top: 5px solid white;
}